<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, user-scalable=no" />
<meta charset="utf-8" />
<title>Node.js PPT - Controller</title>
<style>
#controlMod {
    width: 50%;
    height: 50px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
#controlMod a {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    font-size: 34px;
    background-color: green;
}

#controlMod a:hover {
    background-color: red;
}

#page {
    margin-left: 10px;
}
</style>

</head>

<body>

<nav id="controlMod">
    <div>
    <a href="#first">|&lt;</a>
    <a title="上一张" href="#prev">&lt;-</a> 
    <a title="跳转至" href="#go" data-args="10" id="goBtn">GO</a>
    <input type="number" name="page" id="page" value="1" min=1 max=29 size=4/>
    <a title="下一张" href="#next">-&gt;</a>
    <a href="#last">&gt;|</a>
    </div>
    <div>
    <!-- <a href="#toc" data-args="table-of-contents" title="Table of Contents" class="toc">TOC</a> -->
    <!-- <a href="#resources" title="显示相关资源">☆</a> -->
    <a href="#note" title="显示当前标注笔记">✏</a>
    <a href="#source" title="显示当前源码">↻</a>
    <a href="#help" title="显示帮助菜单">?</a>
    <a href="#theme" title="更换主题">T</a>
    <a href="#3d" title="切换3D效果">3D</a>
    </div>
</nav>



<script src="/socket.io/socket.io.js"></script>
<script>
var socket, offline;

function initController(isRetry) {
    socket = io.connect(location.protocol + '//' + location.host);

    socket.on('connect', function () {
        offline = false;
        console.info('connected');
        socket.emit('set name', 'controller', function(name){
            console.info('set name success: ', name);
        });
    });

    socket.on('message',function(data) {
        console.log('Received a message from the server : ', data);
    });

    socket.on('disconnect',function() {
        offline = true;
        console.log('disconnected!');
    });
}

function doCommand(cmd, args) {
    if (!offline) {
        socket.emit('ppt', cmd, args && args.length > 0 ? args.split(',') : null);
    } else {
        console.info('disconnected now! start to reconnect...');
        initController(true);
    }
}

var touchStartX = 0, SWIPE_SIZE = 150;
function initTouchSupport() {
    document.addEventListener('touchstart', function(e) {
        touchStartX = e.touches[0].pageX;
    }, false);
    
    document.addEventListener('touchend', function(e){
      var delta = touchStartX - e.changedTouches[0].pageX;
      if (delta > SWIPE_SIZE) {
        doCommand('next');
      } else if (delta < 0 - SWIPE_SIZE) {
        doCommand('prev');
      }
    }, false);
}


function queryAll(selector) {
    return document.querySelector(selector);
}


document.addEventListener('DOMContentLoaded', function(){
    
    queryAll('#controlMod').addEventListener("click", function(ev) {
        var cmd = ev.target;
        if (cmd.tagName.toLowerCase() === 'a') {
            ev.preventDefault();
            doCommand( cmd.getAttribute('href').substr(1), cmd.getAttribute('data-args') );
        }
    }, false);
    
    queryAll('#page').addEventListener('change', function(ev){
        queryAll('#goBtn').setAttribute('data-args', this.value);
    }, false);

    initController();
    
    initTouchSupport();
}, false);

</script>
</body>
</html>
